@media (max-width:700px){
    .nav-bar{
        height: 4.2rem;
    }}


body{
  margin: 0;
  background:linear-gradient(rgb(255, 255, 255),rgb(210, 212, 210));  
}   
.nav-bar{
  height: 4.2rem;
  background-color: rgb(0, 0, 0);
  display: flex ;
  justify-content: center;
  align-items: center;


}
.nav-center{
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  width: 80%;
  max-width: var(--max-width);
  display: flex;
}
.nav-logo{
  display: flex;
  flex:1;
  height: 2rem;
  justify-content: center;
  align-items: center;
}
.nav-links{
  flex:3;
  display: flex;
  gap:15px;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.nav-logo1{
    align-items: center;
  }
    
.nav-logoimg{
  height:4rem;
  
}
.nav-link{
  display: block;
  font-size: 1.2rem;
  color:white;
  border: none;
  


}
.nav-header{
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.nav-logo-btn{
  display: flex;
  gap:10px;
  background:transparent;
  align-items: center;
  height: 5px;
  border-width: initial;
  border-style: initial;
  border-color: transparent;
  border-image: initial;
  justify-content: center;
}
.nav-link-cntbtn{

  background-color: red;
  border-radius: 7px;
  font-size: .9rem;
  cursor: pointer;
  color: var(--white);
  border: transparent;
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);

}
.contact-link{
  margin-left: auto;
  margin-right: 15px;
  color: white;
  display: flex;
  gap: 40px;
  

}
.nav-btn{
  background-color: red;
  border:none;
  height: 2rem;
  width: 2rem;
  float:right;

}
@media only screen and (min-width: 1200px){
  .nav-btn{
    display: none;
  }
}
@media only screen and (width < 1200px ){
  .nav-links{
    display:none;
  }
}
.darkbtn button{
  float:right;
  margin-left: auto;
  margin-right: 0;
  background-color: rgb(0, 0, 0);
  border: none;
  height: 100%;
  width:30px
}

main{
  width:60%;
  padding-top: 75px;
  margin: 0 auto;

}
.nav-logo1{
  justify-content: center;
}
/* main part begins hwhwhw:(( */
.recipe-img{
  height: 40vh;
  width: 100%;


  z-index: 1;
}

.svg-container{
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-top: 2rem;
  grid-gap: 20px;
}

.season-recipe{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

}
.recipe-header{
  font-size:2rem;
  font-weight: 500;
  font-style: sans-serif;
}
.tags-list{
  display: grid;
  margin-top: 20px;
  justify-content:left;
  gap:10px  
}

.recipe-butt{
  font-size: 16px;
  font-weight: 400  ;
  padding-bottom: 1rem;
  color:rgb(73, 71, 71) ;
}

.svg-image-osm{
  display: grid;
  grid-template-columns: auto     ;
  
}

.svg-header{
  font-size: 2rem;
  margin:0;
}

footer{
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0 0 0 0;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
  bottom:0;
  width: 100%;
  height: 50px;
  
}
.footer101{
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}
.footer-header{
  text-decoration: none;
  color: rgb(143, 143, 143);
}
.footer-header:hover{
  color:#ED1C24;
}
.nav-link:hover{
  color: #ED1C24;
}
.nav-header:hover{
  color: #ED1C24;
}
.nav-link-cntbtn:hover{
  background-color: #e60008;
}
.recipe-butt:hover{
  color:rgb(255, 1, 1)  ;
}
/* hover effect over svg img*/
a:hover .satin{
  fill: #0f0909 !important;
}

a:hover .AFRICA{
  fill:rgb(35, 173, 0) !important;
}
a:hover .OCEANA{
  fill:rgb(194, 0, 120) !important;
}
a:hover .MIDEAST{
  fill:rgb(248, 149, 0) !important;
}
a:hover .SASIA{
  fill:rgb(182, 12, 0) !important;
}
a:hover .NASIA{
  fill:rgb(17, 143, 101) !important;
}
a:hover .EUROPE{
  fill:rgb(172, 1, 1) !important;
}
a:hover .SAMER{
  fill:rgb(125, 0, 150) !important;
}
a:hover .NAMER{
  fill:rgb(27, 0, 177) !important;
}
