
svg:hover{
  background-color: cornflowerblue;
}

.head1{
  color: inherit;
  text-decoration: none;
}

.head1 {
  background:
    linear-gradient(
      to right,
      rgb(221, 167, 92),
      rgb(109, 22, 22)
    ),  
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.head1:hover {
  background-size: 0 3px, 100% 3px;
}

/* Presentational Styles */
body {
  display: grid;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  height: 100vh;
  place-items: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


header {
  border-top: 1px solid gold !important;
  margin-top: -1px !important;
}

footer{
  margin-top: auto;
}

